{% extends "base.html" %}

{% block title %}Add Books{% endblock %}

{% block content %}
		<h1>添加图书</h1>
		{% if errors %}
		<p style="color: red;">
		Please correct the error{{ form.errors|pluralize }} below.<br>
		{% for error in errors %}
		{{ error }}<br>
		{% endfor %}
		</p>
		{% else %}
		<ul>
			<li> 添加成功! </li>
		</ul>
		{% endif %}
		<p>
		{% if extbook %}
		已存在的书为:{{ extbook.name }}<br>
		├── 索取号: {{ extbook.ask }}<br>
		├── 作者: {{ extbook.author }}<br>
		├── 译者: {{ extbook.translator }}<br>
		├── 出版社: {{ extbook.press }}<br>
		├── 在馆数: {{ extbook.num_in_library }}<br>
		├── 借阅次数: {{ extbook.times_lent }}<br>
		├── 数量: {{ extbook.quantity }}<br>
		└── ISBN: {{ extbook.isbn }}<br>
		{% endif %}
		</p>

		<form action="" method="post">
			{% csrf_token %}
			<table>
				<tr><th><label for="id_ask">索取号:</label></th><td><input id="id_ask" type="text" name="ask" maxlength="15" value="{{ newbook.ask }}"/>*</td></tr>
				<tr><th><label for="id_name">书名:</label></th><td><input id="id_name" type="text" name="name" maxlength="50" value="{{ newbook.name }}"/>*</td></tr>
				<tr><th><label for="id_author">作者:</label></th><td><input id="id_author" type="text" name="author" maxlength="32" value="{{ newbook.author }}"/></td></tr>
				<tr><th><label for="id_translator">译者:</label></th><td><input id="id_translator" type="text" name="translator" maxlength="32" value="{{ newbook.translator }}"/></td></tr>
				<tr><th><label for="id_press">出版社:</label></th><td><input id="id_press" type="text" name="press" maxlength="32" value="{{ newbook.press }}"/></td></tr>
				<tr><th><label for="id_isbn">ISBN:</label></th><td><input id="id_isbn" type="text" name="isbn" maxlength="20" value="{{ newbook.isbn }}"/>*</td></tr>
				<tr><th><label for="id_quantity">数量:</label></th><td><input type="text" name="quantity" id="id_quantity" value="{{ newbook.quantity }}"/>*</td></tr>

			</table>
			<input type="submit" value="添加"/>
		</form>
{% endblock %}
