{% extends "dialogform/basic.html" %}
{% block result_info %}
	<!-- <h1>借阅图书</h1> -->
	<p style="color: red;">
	{% if errors %}
	{% for error in errors %}
	{{ error }}
	{% endfor %}
		 <input id="flag" value="0" style="display:none"></input>
		{% else %}
			借阅成功!
		 <input id="flag" value="1" style="display:none"></input>
	{% endif %}
	</p>
{% endblock %}
{% block formbody %}
				<!-- <div id="login_form"> -->
					<!-- <div class="item1"> -->
						<!-- <label class="word" for="id_username">帐号:</label> -->
						<!-- <input id="id_username" type="text" name="username" class="basic-input" maxlength="25" value="{{ user.username }}"/> -->
					<!-- </div> -->
					<!-- <div class="item1"> -->
						<!-- <label class="word" for="id_password">密码:</label> -->
						<!-- <input id="id_password" type="password" name="password" class="basic-input" maxlength="25" /> -->
					<!-- </div> -->
					<!-- <div class="item2"> -->
						<!-- <label>记住我<input type="checkbox" name="rememberMe"></label> -->
						<!-- <input type="submit" value="登录" class="button"/> -->
					<!-- </div> -->
				<!-- </div> -->

<div class="dialog_form">
		<div class="item">
			<label for="id_ask">索取号:</label>
			<input id="id_ask" type="text" name="ask" maxlength="15" readonly value="{{ lendform.ask }}" class="text ui-widget-content ui-corner-all"/>
		</div>
		<div class="item">
			<label for="id_student_num">学号:</label>
			<input id="id_student_num" type="text" name="student_num" maxlength="20" value="{{ lendform.student_num }}" class="text ui-widget-content ui-corner-all"/>
		</div>
		<div class="item">
			<label for="id_time_lent">借阅时间:</label>
			<input type="text" name="time_lent" id="id_time_lent" value="{{ lendform.time_lent }}" class="text ui-widget-content ui-corner-all"/>
		</div>
</div>
{% endblock%}
