{% extends "dialogform/basic.html" %}
{% block result_info %}
	<!-- <h1>编辑图书</h1> -->
	<p style="color: red;">
	{% if errors %}
	{% comment %}
	Please correct the error{{ form.errors|pluralize }} below.<br>
	{% endcomment %}
	{% for error in errors %}
	{{ error }}
	{% endfor %}
		 <input id="flag" value="0" style="display:none"></input>
		{% else %}
			编辑成功!
		 <input id="flag" value="1" style="display:none"></input>
	{% endif %}
	</p>
{% endblock %}
{% block formbody %}
<div class="dialog_form">
		<div>
			<input id=modify_book_id type=hidden name="book_id" value="{{ book.id }}" calss="text ui-widget-content ui-corner-all"/>
	</div>
	<div class="item">
		<label for="id_ask">索取号:</label>
		<input id="id_ask" type="text" name="ask" maxlength="15" readonly value="{{ book.ask }}" class="text ui-widget-content ui-corner-all"/>
	</div>
	<div class="item">
		<label for="id_name">书名:</label>
		<input id="id_name" type="text" name="name" maxlength="50" value="{{ book.name }}" class="text ui-widget-content ui-corner-all"/>*
	</div>
	<div class="item">
		<label for="id_author">作者:</label>
		<input id="id_author" type="text" name="author" maxlength="32" value="{{ book.author }}" class="text ui-widget-content ui-corner-all"/>
	</div>
	<div class="item">
		<label for="id_divanslator">译者:</label>
		<input id="id_divanslator" type="text" name="divanslator" maxlength="32" value="{{ book.divanslator }}" class="text ui-widget-content ui-corner-all"/>
	</div>
	<div class="item">
		<label for="id_press">出版社:</label>
		<input id="id_press" type="text" name="press" maxlength="32" value="{{ book.press }}" class="text ui-widget-content ui-corner-all"/>
	</div>
	<div class="item">
		<label for="id_isbn">ISBN:</label>
		<input id="id_isbn" type="text" name="isbn" maxlength="20" value="{{ book.isbn }}" class="text ui-widget-content ui-corner-all"/>*
	</div>
	<div class="item">
		<label for="id_num_in_library">在馆数:</label>
		<input type="text" name="num_in_library" id="id_num_in_library" value="{{ book.num_in_library }}" class="text ui-widget-content ui-corner-all"/>*
	</div>
	<div class="item">
		<label for="id_quantity">数量:</label>
		<input type="text" name="quantity" id="id_quantity" value="{{ book.quantity }}" class="text ui-widget-content ui-corner-all"/>*
	</div>
</div>
{% endblock %}
