{% extends "dialogform/basic.html" %}
{% block result_info %}
<!-- <h1>预定图书</h1> -->
<p style="color: red;">
{% if errors %}
{% for error in errors %}
{{ error }}
{% endfor %}
		 <input id="flag" value="0" style="display:none"></input>
		{% else %}
			预定成功!
		 <input id="flag" value="1" style="display:none"></input>
{% endif %}
</p>
{% endblock %}
{% block formbody %}
{% if reserveform %}
<div class="dialog_form">
		<div class="item">
			<label for="id_ask">索取号:</label>
			<input id="id_ask" type="text" name="ask" maxlength="15" value="{{ reserveform.ask }}" readonly class="text ui-widget-content ui-corner-all"/>
		</div>
		<div class="item">
			<label for="id_student_num">学号:</label>
			<input id="id_student_num" type="text" name="student_num" maxlength="20" value="{{ reserveform.student_num }}" readonly class="text ui-widget-content ui-corner-all"/>
		</div>
</div>
{% endif %}
{% endblock %}


