#whole fieldset {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.dialog_form {
	font-size: 13px;
}

.dialog_form .item {
	/* float: left; */
	text-align: left;
	padding: 7px;
	/* height: 40px; */
	margin-top: 10px;
	background: #EEEEEE;
}

.dialog_form label {
	width: 25%;
	display: inline-block;
}

.dialog_form input {
	/* float: right; */
	width: 68%;
	background: #F0FFF0;
	border: 0px;
	vertical-align: center;
	font-size: 13px;
}

#id_comment {
	border: 3px dashed #DDD;
	width: 96%;
	height: 140px;
	color: #555;
}

.comment_form {
	float: left;
	width: 257px;
	height: 150px;
}

.commentImg {
	float: left;
	margin-right: 20px;
}

.dialog_form input[type="submit"] {
	float: right;
	margin-top: 14px;
	width: 30%;
	text-align: center;
	height: 10%;
	font-size: 18px;
	background: #BED8BE;
	cursor: pointer;
}

.dialog_form input[type="submit"]:hover {
	background: #C7E7C7;
}
