/*Font, link*/
body { 
	font:18px/1.6 arial,helvetica,sans-serif; 
	margin:0;
	padding:0;
}
a:link { color:#369; text-decoration:none; }
a:visited { color:#669; text-decoration:none; }
a:hover { color:#fff;text-decoration:none;background:#039; }
a:active { color:#fff;text-decoration:none;background:#f93; }
button {cursor:pointer; line-height:1.2; }

/*button*/

input { background-color:#ffffff; color:#000000 }
.btn-submit { 
	cursor:pointer;
	color:#000000;
	background:#ffffff; 
	border:2px solid #000000; 
	font-size: 14px; 
	font-weight: bold; 
	padding:6px 26px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	margin:0;
}
.btn-submit:hover { 
	background-color:#ffffff; 
	border-color:#666666; 
	border: 2px solid; 
	color:#666666
}
.btn-submit:active { background-color:#ffffff; border-color:#666666; }

/*input*/
.basic-input { width:200px; padding:5px; heigth:18px; font-size:14px; vertical-align:middle; -moz-border-radius:3px -webkit-border-radius:3px; border-radius:3px; border:2px solid #999999; }


label {
	display: inline-block;
	float: left;
	margin-right: 15px;
	text-align: right;
	width: 60px;
	font-size: 14px;
	line-height: 30px;
	vertical-align: baseline;
}

.item {
	margin:15px 0;
	zoom: 1;

}			

ul.errorlist {
	margin: 0;
	padding: 0;
}
.errorlist li {
	background-color: red;
	color: white;
	display: block;
	font-size: 10px;
	margin: 0 0 3px;
	padding: 4px 5px;
}
