{% extends "base.html" %}
{% block morehead %}
<link type="text/css" href="/static/css/bookInfo.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/form.css" rel="stylesheet"/>
<script type="text/javascript" src="/static/js/csrf.js"></script>
<script type="text/javascript" src="/static/js/sechand_dialog.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span5">
			<div class="well sidebar-nav">
				<div class="nav nav-list">
					<div class="row-fluid">
						<div class="row-fluid">
							<label for="id_title" class="span3">标题:</label>
							<label id="id_title" class="span9">{{ product.title }}</label>
						</div>
						<div class="row-fluid">
							<label for="id_status" class="span3">状态:</label>
							<label id="id_status" class="span9">{% if product.valid %}正常{% else %}关闭{% endif %}</label>
						</div>
						<div class="row-fluid">
							<label for="id_addtime" class="span3">添加时间:</label>
							<label id="id_addtime" class="span9">{{ product.addtime|date:"Y-m-d H:i:s" }}</label>
						</div>
						{% if not product.valid %}
						<div class="row-fluid">
							<label for="id_closetime" class="span3">关闭时间:</label>
							<label id="id_closetime" class="span9">{{ product.closetime|date:"Y-m-d H:i:s" }}</label>
						</div>
						{% endif %}
						<div class="row-fluid">
							<label for="id_descrip" class="span3">产品描述:</label>
							<textarea class="well sidebar" readonly="readonly" style="resize:none;" cols="47" rows="12" maxlength="2048" type="text" id="id_descrip" class="span3" >{{ product.descrip }}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span7">
			{% if product.user == loginuser %}
			<div class="well sidebar">
				<h3>修改产品信息</h3>
				<form id="modifyproduct" name="modifyproduct" action="" method="POST">
					{% csrf_token %}
					<table align="center">
						<tr>
							<td class="span3">
								<label for="title">
									<p>是否有效</p>
								</label>
							</td>
							<td>
								<input id="valid" type="checkbox" name="checkbox" {% if product.valid %}checked{% endif %} value="True">
							</td>
						</tr>
						<tr>
							<td class="span3">
								<label for="title">
									<p>标题</p>
								</label>
							</td>
							<td>
								<input id="title" type="text" size="20" maxlength="16" name="title" placeholder="请写下产品标题" />
							</td>
						</tr>
						<tr>
							<td class="span3">
								<label for="descrip">
									<p>描述</p>
								</label>
							</td>
							<td>
								<textarea style="resize:none" id="descrip" maxlength="2048" rows="13" cols="27" name="descrip" value="" class="text ui-widget-content ui-corner-all" placeholder="请写下产品描述"></textarea>
							</td>
						</tr>
						<tr>
							<th align="center" colspan="2">
								<input class="btn" id="submit" type="submit" value="修改">
							</th>
						</tr>
					</table>
				</form>
			</div>
			{% endif %}
			<div class="hero-unit">
				<h3>评论</h3>
				{% for comment in product.commentproduct_set.all %}
				<div class="row-fluid">
					<fieldset class="well sidebar">
						<legend>{{ comment.getCommenter.nick }}发表于{{ comment.commenttime|date:"Y-m-d H:i:s" }}</legend>
						<p>
					<pre>{{ comment.content }}</pre>
						<p></p>
						</p>
					</fieldset>
				</div>
				{% endfor %}
				<a id="comment" class="btn btn-primary" name="{{ product.id }}" type="button">
					我也说两句 »
				</a>
			</div>
			<div>
				<div id="dialog_form"></div>
				<div id="commentproductform" title="评论"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
