{% extends "base.html" %}
{% block title%} Register {% endblock %}
{% block content %}
{% for error in errors %}
<p>{{ error }}</p>
{% endfor %}
<form id="register" name="register" action="/register/" method="post">
	{% csrf_token %}
	<table align="center">
		<tr>
			<td>
				<p>Username</p>
			</td>
			<td>
				<input id="username" type="text" size="20" maxlength="16" name="username">
			</td>
		</tr>
		<tr>
			<td>
				<p>Password</p>
			</td>
			<td>
				<input id="password" type="password" size="20" maxlength="16" name="password">
			</td>
		</tr>
		<tr>
			<td>
				<p>conform</p>
			</td>
			<td>
				<input id="conform" type="password" size="20" maxlength="16" name="conform">
			</td>
		</tr>
		<tr>
			<th align="center" colspan="2">
				<input id="submit" type="submit" value="Register">
			</th>
		</tr>
	</table>
</form>
{% endblock %}
