{% extends "base.html" %}
{% block morehead %}
<link type="text/css" href="/static/css/bookInfo.css" rel="stylesheet"/>
<link type="text/css" href="/static/css/form.css" rel="stylesheet"/>
<script type="text/javascript" src="/static/js/csrf.js"></script>
<script type="text/javascript" src="/static/js/sechand_dialog.js"></script>
<script type="text/javascript" src="/static/js/hidetext.js"></script>
<script type="text/javascript">
	var page = 1;
	var head = {{ page.head }}
	var tail = {{ page.tail }}
	var opt
	function getcomments() {
		var url = '/getcomments/';
		var tuid = $("#comment").attr('name');
		var cuid = $("#commenter").attr('name');
		if (opt == 'prev')
			page -= 1;
		if (page < head)
			page = head;
		if (opt == "next")
			page += 1;
		if (page > tail)
			page = tail
		$.post(url, {'page':page, 'cuid':cuid, 'tuid':tuid, 'flag':'user'}, function(data) {
				$("#commentlist").html(data);
				});
	}
	function handler() {
		getcomments()
		$("#prevpage").click(function() {opt=$(this).attr('name'); getcomments()});
		$("#nextpage").click(function() {opt=$(this).attr('name'); getcomments()});
	}
	$(document).ready(handler);
</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<div class="">
						<li class="nav-header">
						<img src="/static/img/noavatar_big.gif" alt="{{ tuser.name }}" />
						</li>
						<li class="nav-header">
					</div>
					<h3>
						{{ tuser.name }}({{ tuser.nick }})
					</h3>
					</li>
					<li>
					</li>
					<div class="row-fluid">
						<div class="row-fluid">
							{% if tuser.FNNP %}
							<label for="id_FNNP" class="span3">Phone:</label>
							<label id="id_FNNP" class="span3">{{ tuser.FNNP }}</label>
							{% endif %}
						</div>
						<div class="row-fluid">
							{% if tuser.FNNM %}
							<label for="id_FNNM" class="span3">Email:</label>
							<label id="id_FNNM" class="span3">{{ tuser.FNNM }}</label>
							{% endif %}
						</div>
						<div class="row-fluid">
							{% if tuser.address %}
							<label for="id_Uaddress" class="span3">Address:</label>
							<label id="id_Uaddress" class="span3">{{ tuser.address }}</label>
							{% endif %}
						</div>
						<div class="row-fluid">
							{% if loginuser == tuser %}
							<form action="/editpro/" method="POST">
								{% csrf_token %}
								<input type="hidden" name=uid value="{{ loginuser.id }}"/>
								<input class="btn" type="submit" name="submit" value="修改个人信息" />
							</form>
							{% endif %}
						</div>
					</div>
				</ul>
			</div>
			{% if loginuser == tuser %}
			<div class="well sidebar">
				<ul class="nav nav-list">
					<li><a href="/product/add/" class="btn" />添加商品</a></li>
				</ul>
			</div>
			{% endif %}
		</div>
		<div class="span8">
			<div class="well sidebar">
				<h3>最新商品</h3>
				<div class="row-fluid">
					{% for product in products1 %}
					<div class="span4">
						<div class="well sidebar-nav">
							<a href="/product/{{ product.id }}/"><h3 name="Title">{% if not product.valid %}(已关闭){% endif %}{{ product.title }}</h3></a>
							<img src="/getpic/?uid={{ product.user.id }}&pid={{ product.id }}">
							<p name="Description">
							{{ product.descrip }}
							</p>
							<a class="btn" href="/product/{{ product.id }}/">
								View details »
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row-fluid">
					{% for product in products2 %}
					<div class="span4">
						<div class="well sidebar-nav">
							<a href="/product/{{ product.id }}/"><h3 name="Title">{% if not product.valid %}(已关闭){% endif %}{{ product.title }}</h3></a>
							<img src="/getpic/?uid={{ product.user.id }}&pid={{ product.id }}">
							<p name="Description">
							{{ product.descrip }}
							</p>
							<a class="btn" href="/product/{{ product.id }}/">
								View details »
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row-fluid">
					<form class="navbar-form pull-right" id="sraech" name="search" action="/search/" method="get">
						<input type="hidden" name="fromprofile" value="True"/>
						<input type="hidden" name="query" value=""/>
						<input type="hidden" name="user_name" value="{{ tuser.name }}"/>
						<input class="btn" type="submit" name="submit" value="See All>>"/>
					</form> 
				</div>
			</div>
			<div class="hero-unit">
				<h3>个人信用</h3>
				<div id="commentlist">
					<p>第{{ page.curr }}页  共{{ product.commentuser_set.all|length }}条记录  {{ page.tail }}页</p>
					{% for comment in tuser.commentuser_set.all %}
					<div class="row-fluid">
						<fieldset class="well sidebar">
							<legend><a href="/profile/{{ comment.commenter_uid }}">{{ comment.getCommenter.nick }}</a>发表于{{ comment.commenttime|date:"Y-m-d H:i:s" }}</legend>
							<p>
					<pre>{{ comment.content }}</pre>
							<p></p>
							</p>
						</fieldset>
					</div>
					{% endfor %}
					<div id="currpage" name="{{ page.curr }}"></div>
				</div>
				<div id="commenter" name="{{ loginuser.id }}"></div>
				<br clear="both" />
				<div class="paginator" id="pages_navigation">
					<span class="prev">
						<a id="prevpage" name="prev">&lt前页</a>
					</span>
					<span class="next">
						<a id="nextpage" name="next">后页&gt</a>
					</span>
				</div>
				<a id="comment" class="btn btn-primary" name="{{ tuser.id }}" type="button">
					我也说两句 »
				</a>
			</div>
			<div>
				<div id="dialog_form"></div>
				<div id="commentuserform" title="评论"></div>
			</div>
			<hr>
		</div>
	</div>
</div>
{% endblock %}
